<!-- estendo il template base e gli dico di inserire il contenuto all'interno del blocco chiamato body -->
{% extends "base.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Admin Panel</h1>
                        <span class="subheading">Manage your posts and change them</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Basic Actions</h1>

                <a href="/edit/0">
                    <button class="btn btn-primary"> Add a new post</button>
                </a>
                <a href="/logout">
                    <button class="btn btn-primary"> Logout</button>
                </a>
                <hr>
                <h1>Upload A File</h1>

                <!-- form di upload delle immagini -->
                <form action="{{ url_for('dash.uploader') }}" method="post" enctype="multipart/form-data">

                    <input type="file" name="file1">
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
                <!-- fine form -->

                <hr>
                <h1>Edit Posts</h1>
                <!-- creo una tabella dove inserisco tutti i post che ho estratto dal db in modo da facilitarne visualizzazione e gestione-->
                <table class="table">
                    <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- da backend ho mandato una variabile che si chiama posts (che sto ciclando con il for) contenente tutti i post, ciclandoli costruisco in modo dinamico la tabella. Ogni riga sara un post -->
                    {% for post in posts %}
                        <tr>
                            <!-- informazioni del post -->
                            <td>{{ post.sno }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.date }}</td>

                            <!-- link per la modifica e cancellazione -->
                            <td><a href="/edit/{{ post.sno }}">
                                <button class="btn btn-primary">Edit</button>
                            </a></td>
                            <td><a href="/delete/{{ post.sno }}">
                                <button class="btn btn-primary">Delete</button>
                            </a></td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                <!-- fine della tabella contenente i posts -->

            </div>
        </div>
    </div>
{% endblock %}